

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.no-padding {
	padding: 0;
}

.full-size {
	width: 3216px;
	height: 2136px;
}

.white-background {
	background-color: white;
}














